* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Fjalla One", system-ui;
}

body {
    display: flex;
    height: 100vh;
    background-color: #CAF0F8;
}

.dashboard-container {
    display: flex;
    width: 100%;
}

.cen {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Sidebar */
.sidebar {
    width: 250px;
    background-color: #0077B6;
    color: white;
    padding: 20px;
    flex-direction: column;
    justify-content: flex-start
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: #ccc;
    text-decoration: none;
    font-size: 18px;
}

.sidebar ul li a:hover {
    color: #ffffff;
}

/* Main Content */
.main-content {
    flex: 1;
    padding: 20px;
    background-color: #fff;
}

header {
    background-color: #0077B6;
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 5px;
}

section {
    margin-bottom: 20px;
}

.cards {
    display: flex;
    gap: 10px;
}

.card {
    flex: 1;
    background-color: #e8eff5;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #2a3b47;
}

/* Bento Grid */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    margin-top: 20px;
}

.grid-item {
    background-color: #e8eff5;
    padding: 20px;
    border-radius: 8px;
    color: #2a3b47;
    text-align: center;
    font-weight: bold;
}

/* Different Sizes for Bento Grid */
.grid-item.small {
    grid-column: span 1;
    grid-row: span 1;
}

.grid-item.medium {
    grid-column: span 2;
    grid-row: span 1;
}

.grid-item.large {
    grid-column: span 2;
    grid-row: span 2;
}

.profile{
    width: 100%;
    flex-direction: column;
}
.cir{
    width: 5em;
    height: 5em;
    background: #00a6ff;
    border-radius: 100%;
}